body, html {
	background-image: url(../images/backimage.jpg);
	
	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.form-group {
	margin-bottom: 1rem;
  }
.vcenter-item{
	display: flex;
	align-items: center;
	min-height: 600px;
}
.page-footer
   {
       width: 100%;
       bottom: 0px;
       background-color: #5e5e5e;
   }
.cac-logo
{
    display: block;
    float: left;
    height: 50px;
}

.coat-of-arm
{
    display: block;
    float: right;
    height: 50px;
}
	
.form-control:focus {
	/*border-color: #28a745 !important;*/
	border-color: #ff80ff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

.login-form {
    width: 40%;
    margin: 200px auto;
	padding:300px
}
.login-form {        
    margin-bottom: 70px;
    background: #FFFFFF;
    -webkit-box-shadow: 9px 23px 18px -4px rgba(102,102,102,0.41);
	-moz-box-shadow: 9px 23px 18px -4px rgba(102,102,102,0.41);
	box-shadow: 9px 23px 18px -4px rgba(102,102,102,0.41);
	border-radius: 8px;
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 1px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 5px;
}
.input-group-addon .fa {
    font-size: 18px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.bottom-action {
  	font-size: 14px;
}

 /*body{
	background-image: url(../images/backimage.jpg)!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
/*-----------------------------------------------------End of Index CSS ------------------------------------------------------------------------*/

/*-----------------------------------------------------Beginning of Home CSS ------------------------------------------------------------------*/
.fcta-header{
    background: #f3f6f7;
    border-bottom: 2px solid #00ad56;
	height: 60px
}
.navbar{
	border-top:1px solid #090
}
.main-content{
		min-height: 230px;
        background: #dbdfe5;
    }
.sidebar-content{
        min-height: 100px;
        margin-bottom: 30px;
        background: #b4bac0;
    }
.top-buffer { margin-top:20px; padding-left: 20px; padding-right:20px;}

.v-divider{
 margin-left:10px;
 margin-right:10px;
 width:1px;
 height:100%;
 border-left:2px solid #FFF;
}
.font-pref14{
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; 
	font-size:14px
}
.font-pref10{
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; 
	font-size:10px
}
.top-space20{
	margin-top:20px;
}
.myInputs {
  background-image: url(../images/searchicon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 350px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px
}
/*--------------------------------------------------- CSS For Responsive Table ----------------------------------------------------------------*/
	.table-responsive {
        margin: 0px 0px 0px 0px; 
    }
	.table-wrapper {
		width:90%;
        background-color: #fff;
        padding: 25px 5px;
		border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
		z-index: -10000;
    }

	.toptitle {        
		padding-bottom: 1px;
		background: #666;
		color: #fff;
		padding: 16px 30px;
		margin: 20px -25px 10px;
		border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
		margin: 5px 0 0;
		font-size: 24px;
	}
	.table-title .btn-group {
		float: right;
	}
	.table-title .btn {
		color: #fff;
		float: right;
		font-size: 13px;
		border: none;
		min-width: 50px;
		border-radius: 2px;
		border: none;
		/*outline: none !important;*/
		margin-left: 10px;
	}
	.table-title .btn i {
		float: left;
		font-size: 21px;
		margin-right: 5px;
	}
	.table-title .btn span {
		float: left;
		margin-top: 2px;
	}
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
		padding: 12px 15px;
		vertical-align: middle;
    }
	table.table tr th:first-child { /*Name*/
		width: 135px;
	}
	table.table tr th:nth-child(2) { /*Profession*/
		width: 135px;
	}
	table.table tr th:nth-child(3) { /*Accreditation*/
		width: 100px;
	}
	table.table tr th:nth-child(4) { /*Date*/
		width: 180px;
	}
	table.table tr th:nth-child(5) { /*Action*/
		width: 20px;
	}
    table.table-striped tbody tr:nth-of-type(odd) {
    	background-color: #fcfcfc;
	}
	table.table-striped.table-hover tbody tr:hover {
		background: #f5f5f5;
	}
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }	
    table.table td:last-child i {
		opacity: 0.9;
		font-size: 22px;
        margin: 0 5px;
    }
	table.table td a {
		font-weight: bold;
		color: #566787;
		display: inline-block;
		text-decoration: none;
		outline: none !important;
	}
	table.table td a:hover {
		color: #2196F3;
	}
	table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #F44336;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table .avatar {
		border-radius: 50%;
		vertical-align: middle;
		margin-right: 10px;
	}
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #00ad56;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }
    .pagination li a:hover {
        color: #00ad56;
    }	
    .pagination li.active a, .pagination li.active a.page-link {
        background: #00ad56;
    }
    .pagination li.active a:hover {        
        background: #8FBC8F;
    }
	.pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
	
    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }    
/*----------------------------------This is for customizing checkbox on post incporporation form-------------------------------------*/
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
	content: "";
	display: inline-block;
	background: #fff;
	width: 0;
	height: 0.2rem;
	position: absolute;
	transform-origin: 0% 0%;
  }
  
  .chiller_cb {
	position: relative;
	height: 2rem;
	display: flex;
	align-items: center;
  }
  .chiller_cb input {
	display: none;
  }
  .chiller_cb input:checked ~ span {
	background: #5cb85c;
	border-color: #5cb85c;
  }
  .chiller_cb input:checked ~ span:before {
	width: 1rem;
	height: 0.15rem;
	transition: width 0.1s;
	transition-delay: 0.3s;
  }
  .chiller_cb input:checked ~ span:after {
	width: 0.4rem;
	height: 0.15rem;
	transition: width 0.1s;
	transition-delay: 0.2s;
  }
  .chiller_cb input:disabled ~ span {
	background: #ececec;
	border-color: #dcdcdc;
  }
  .chiller_cb input:disabled ~ label {
	color: #dcdcdc;
  }
  .chiller_cb input:disabled ~ label:hover {
	cursor: default;
  }
  .chiller_cb label {
	padding-left: 2rem;
	position: relative;
	z-index: 2;
	cursor: pointer;
	margin-bottom:0;
  }
  .chiller_cb span {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border: 2px solid #ccc;
	position: absolute;
	left: 0;
	transition: all 0.2s;
	z-index: 1;
	box-sizing: content-box;
  }
  .chiller_cb span:before {
	transform: rotate(-55deg);
	top: 1rem;
	left: 0.37rem;
  }
  .chiller_cb span:after {
	transform: rotate(35deg);
	bottom: 0.35rem;
	left: 0.2rem;
  }
	/* Modal styles */
	.modal .modal-dialog {
		max-width: 600px;
	}
	.modal .modal-header, .modal .modal-body, .modal .modal-footer {
		padding: 20px 30px;
	}
	.modal .modal-content {
		border-radius: 3px;
	}
	.modal .modal-footer {
		background: #ecf0f1;
		border-radius: 0 0 3px 3px;
	}
    .modal .modal-title {
        display: inline-block;
    }
	.modal .form-control {
		border-radius: 2px;
		box-shadow: none;
		border-color: #dddddd;
	}
	.modal textarea.form-control {
		resize: vertical;
	}
	.modal .btn {
		border-radius: 2px;
		min-width: 100px;
	}	
	.modal form label {
		font-weight: normal;
	}	
	
	/*CSS to alter breadcrumb*/
	.breadcrumb-item + .breadcrumb-item::before {
    content: ">>" !important;
	color: gold !important;
	}
	/*Remove Border Radius From BreadCrumb*/
	.breadcrumb {
		  border-radius: 0 !important;
	  }
	  
	[type="date"]::-webkit-calendar-picker-indicator {
    color: green;
	opacity: 0.5;
	}
	
	::-webkit-input-placeholder { /* Edge */
	  color: smoke !important; 
	  opacity: 0.3 !important;
	  font-style: italic !important;
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: smoke !important; 
	  opacity: 0.3 !important;
	  font-style: italic !important;
	}

	::placeholder {
	  color: smoke !important; 
	  opacity: 0.3 !important;
	  font-style: italic !important;
	}
	
	/*Make Form Borders Glowy :)*/
	.form-control:focus {
	  border-color: #8FBC8F !important;
	  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
	}
/*--------------------------------------------------- CSS For Responsive Table ----------------------------------------------------------------*/
.lo, .lo:hover, .lo:focus { text-decoration: none !important;}

/*Options display (Edit USer, Change Password*/
a.option {color:#009900 !important;}
a.option:hover {color: #009900 !important;}

/*-----------------------------------------------------------Fieldset & Legend--------------------------------------------------------*/
fieldset.scheduler-border {

    border: 1px solid #8FBC8F !important;
	border-radius: 8px;
    padding: 0 0 1.4em 1.4em !important;
	width: 98%;
	margin-left: 15px !important; 
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
	background: #fff none repeat scroll 0 0;
	height: auto;
	margin-left: 20px;
	padding: 3px 5px;
	position: absolute;
	margin-top: -15px;
	border: 1px solid #8FBC8F;
	border-radius: 8px;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
	color: #8FBC8F;
	width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
}
/*Hide Input Number Toggle Arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
[type="number"] {
  -moz-appearance: textfield;
}

._textarea {
    resize: none !important;
}

/*Dropdown Menu Script*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -9px;
    margin-left: -1px;
    /*-webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;*/
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: "";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #333;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #D5D5D5;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    /*-webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;*/
}

/*--------------------------------------------------------------------------------------------------------------------------------
Radio Buttons
--------------------------------------------------------------------------------------------------------------------------------*/
.form-check-input[type=radio]{border-radius:50%;width:1.25rem;height:1.25rem;margin-top:.125em;margin-right:6px}
.form-check-input[type=radio]:before{width:1rem;height:1rem}
.form-check-input[type=radio]:after{content:"";position:absolute;width:1rem;height:1rem;z-index:1;display:block;border-radius:50%;background-color:#fff}
.form-check-input[type=radio]:checked{background-image:none;background-color:#fff; border-color: #26bd2e}
.form-check-input[type=radio]:checked:after
{
	border-radius:50%;
	width:.625rem;
	height:.625rem;
	border: 5px solid #26bd2e !important;
	background-color:#26bd2e !important;
	transition:border-color;
	transform:translate(-50%,-50%);
	position:relative;
	left:50%;
	top:50%
}
.form-check-input[type=radio]:checked:focus{background-color:#fff}

.form-check-input[type=radio]:focus {
	border-color: #8FBC8F !important;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
  }

/*--------------------------------------------------------------------------------------------------------------------------------
Checkbox
--------------------------------------------------------------------------------------------------------------------------------*/
input[type=checkbox]
{border-radius:50%;width:1.25rem;height:1.25rem;margin-top:.125em;margin-right:6px}
.form-check-input[type=checkbox]:checked{background-image:none;background-color:#26bd2e; border-color: #26bd2e}
.form-check-input[type=checkbox]:checked:after
{
	display:block;transform:rotate(45deg) /*!rtl:ignore*/;
	width:.375rem;height:.8125rem;
	border-top:0;border-left:0 /*!rtl:ignore*/;
	margin-left:.25rem;margin-top:-1px;
}
.form-check-input[type=checkbox]:checked:focus{background-color:#26bd2e}
.form-check-input[type=checkbox]:indeterminate{border-color:#26bd2e}
.form-check-input[type=checkbox]{margin-left:1px;margin-right:1px}
.form-check-input.is-valid[type=checkbox]:checked:focus,.was-validated .form-check-input:valid[type=checkbox]:checked:focus{background-color:#26bd2e;border-color:#26bd2e}
.form-check-input:checked[type=checkbox]{background-image:none}
.form-check-input[type=checkbox]:focus {
	border-color: #8FBC8F !important;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
  }

/**********************************************************************************************************************
SWITCH
**********************************************************************************************************************/
.switch label input[type="checkbox"]{
	opacity:0;
	width:0;
	height:0
	}
.switch label input[type="checkbox"]:checked+.lever{
background-color:#a8e2b8
}
.switch label input[type="checkbox"]:checked+.lever:after{
left:1.5rem;background-color:rgb(13, 161, 63)
}
.switch label input[type="checkbox"]:checked:not(:disabled) ~ .lever:active:after{
-webkit-box-shadow:0 .0625rem .1875rem .0625rem rgba(0,0,0,0.4),0 0 0 .9375rem rgba(170,102,204,0.1);
box-shadow:0 .0625rem .1875rem .0625rem rgba(0,0,0,0.4),0 0 0 .9375rem rgba(170,102,204,0.1)
}
.switch label input[type="checkbox"]:not(:disabled) ~ 
.lever:active:after{
-webkit-box-shadow:0 .0625rem .1875rem .0625rem rgba(0,0,0,0.4),0 0 0 .9375rem rgba(0,0,0,0.08);
box-shadow:0 .0625rem .1875rem .0625rem rgba(0,0,0,0.4),0 0 0 .9375rem rgba(0,0,0,0.08)
}
.switch label input[type="checkbox"]:disabled+.lever{
cursor:default
}
.switch label input[type="checkbox"]:disabled+.lever:after,
.switch label input[type="checkbox"]:disabled:checked+.lever:after{
/*background-color:#bdbdbd*/
background-color:#bdbdbd
}
.switch label .lever{
position:relative;
display:inline-block;
margin:0 1rem;
margin-right:.625rem;
vertical-align:middle;
content:"";
/*background-color:#818181;*/
background-color:#FFDDDD;
border-radius:.9375rem;
width:2.5rem;
height:.9375rem;
-webkit-transition:background .3s ease;
transition:background .3s ease
}
.switch label .lever:after{
position:absolute;
top:-.1875rem;
left:-.3125rem;
display:inline-block;
content:"";
background-color:#FF0000;
border-radius:1.3125rem;
-webkit-box-shadow:0 .0625rem .1875rem .0625rem rgba(0,0,0,0.4);
box-shadow:0 .0625rem .1875rem .0625rem rgba(0,0,0,0.4);
width:1.3125rem;
height:1.3125rem;
-webkit-transition:left .5s ease,background .5s ease,-webkit-box-shadow 1s ease;
transition:left .5s ease,background .5s ease,-webkit-box-shadow 1s ease;
transition:left .5s ease,background .5s ease,box-shadow 1s ease;
transition:left .5s ease,background .5s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease
}